<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
            <fa-icon icon="home" style="font-size: 25px;"></fa-icon>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <fa-icon icon="fire" style="font-size: 25px;"></fa-icon>
        </ion-tab-button>

        <ion-tab-button tab="tab3" *ngIf="!this.isGuest">
            <fa-icon icon="bookmark" style="font-size: 25px;"></fa-icon>
        </ion-tab-button>

        <ion-tab-button tab="info">
            <fa-icon icon="info-circle" style="font-size: 25px;"></fa-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>