@import url('https://fonts.googleapis.com/css2?family=Georama:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,800");
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
#month-picker {
    font-family: 'Hind', sans-serif;
}

.calendar {}

#year {
    color: #FFCC16;
    font-size: 19px;
    border: 5px solid #2f3438;
    border-radius: 20%;
    background-color: #2f3438;
}

ion-content {
    --ion-background-color: #2f3438;
}

.card {
    margin-top: -10px;
    text-align: left;
    display: inline-block;
    font-size: 14px;
    padding: 5px 100px 25px 30px;
    color: black;
    position: relative;
    width: 100%;
    min-height: 70px;
    transform: scale(0.8);
    background-color: white;
    border-radius: 10px;
}

.card h2 {
    color: black;
    font-family: 'Hind', sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin: 10px 0px 8px -2px;
}

.card .el {
    vertical-align: -2px;
    opacity: 0.3;
    margin-left: -5px;
}

.new-background-color {
    padding-top: 10px;
    --background: #2f3438;
}

.searchbar {
    margin: 0 auto;
    width: 100%;
    transform: scale(0.9);
    position: relative;
}

.container {
    position: relative;
    top: -20px;
}

@media only screen and (max-width: 1200px) {
    .card {
        width: calc(50% - 170px);
    }
}

@media only screen and (max-width: 800px) {
    .card {
        width: 100% - 10%;
    }
}