ion-content {
    text-align: center;
    --background: white;
}

.custom-font {
    font-weight: 800;
}

.profilo {
    color: black;
    margin-top: 5%;
}

.profilo img {
    border-radius: 50%;
    transform: scale(0.6);
}

.btncolor {
    --background: #ffcc16;
}

.nickname {
    font-size: medium;
}

.nickname2 {
    font-size: small;
}