ion-content{
    
    text-align: center;
    --background:white;
}

.profilo{
    color: black;
    margin-top: 30%;

}

.profilo img{
    border-radius: 50%;
    transform: scale(0.7);
}

.btncolor {
  --background: #ffcc16;
}