<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
        <ion-title class="ion-text-center custom-font" style="padding-top: 18px;">
            Profilo
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="profilo">
        <img src="{{ this.imageUrl }}" alt="DINASTIA">
        <ion-title class="nickname">{{ this.nickname }}</ion-title>
        <br>
        <ion-button class="btncolor" (click)="LogOut()" *ngIf="!this.isGuest; else guest">Log Out</ion-button>
        <ng-template #guest>
            <ion-button class="btncolor" (click)="LogOut()">Ritorna al Login</ion-button>
        </ng-template>
        <br><br>
        <ion-title class="nickname2">Creato dalla <br><span style="font-weight: bold;">5ᵃ F - I.I.S.S. "A.VOLTA" Palermo</span><br><span>2021/2022</span></ion-title>
    </div>
</ion-content>